footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

p {
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 500;
}

footer ion-icon:hover {
    color: var(--roxo);
}