:root {
    --amarelo-claro: #ffc46b;
    --amarelo-escuro: #ffb74d;
    --azul-claro: #ddeeff;
    --cinza-escuro: #1e1e1e;
    --preto: #0d0d0d;
    --branco: #f5f5f5;
}

html, body {
    scroll-behavior: smooth;
}