
.fechar_modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--branco);
    background: transparent;
    border: none;
    cursor: pointer;
}

.modal_imagem {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 8px;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.modal_projeto {
  position: fixed; /* Corrigido */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 2rem;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 12px;
  max-width: 350px;
  width: 90%;
  z-index: 1000;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

/* estilizar texto, titulo, legendas e botões */

.titulo_modal {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--branco);
    font-family: var(--font-title);
}

.tags_modal {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: var(--branco);
    font-family: var(--font-family);
    text-align: left;
}

.legenda_modal {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--branco);
    font-family: var(--font-family);
    text-align: left;
    display: flex;
    align-items: center;
}

.view{
    display: inline-block;
    padding: 10px 16px;
    margin: 10px 8px 0;
     background-color: rgba(255, 255, 255, 0.6); /* fundo semi-transparente */
    backdrop-filter: blur(15px); /* efeito de blur */
    -webkit-backdrop-filter: blur(15px);
    color: #111;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease;
    font-weight: 2rem;
}

.view:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.github {
    display: inline-block;
    padding: 10px 16px;
    margin: 10px 8px 0;
    background-color: #111;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease;
    font-weight: 2rem;
}

.github:hover {
    background-color: #060606;
}