#Portfolio {
    width: 100%;
    gap: 2rem;
    background-color: var(--preto);
    color:var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.Portfolio_titulo {
    font-family: var(--font-title);
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
}

.legenda_portfolio {
    color: var(--azul-claro);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}

.Portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 20px; 
    width: auto;
    margin-bottom: 30px;
}


.img_card_projeto {
    width: 100%;
    height: auto;
    padding: 0;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.Portfolio-cards 
.card_projeto 
.titulo {
    font-size: 1.5em;
    font-family: var(--font-title);
}


.card_projeto {
    background-color: var(--cinza-claro);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    text-align: center;
}

.card_projeto:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
