* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    font-family: var(--font-family);
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background-color: var(--preto);
    color: var(--preto);
    margin: 0 auto;
    
}

main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

header, main {
    position: relative;
    z-index: 1;
}

/*main, header, footer {
    position: relative;
    z-index: 1;
}
*/