#Serviços {
    width: 100%;
    
    background-color: transparent;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.Servicos_titulo {
    color: var(--branco);
    font-family: var(--font-title);
    
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    text-align: left;
}

.Serviços-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;  
    margin-bottom: 30px; 
}

.card {
    background-color: var(--cinza-claro);
    border: 1px solid var(--azul-claro);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}

.card img {
    width: auto;
    height: 80px;
    margin-bottom: 20px;
    color: var(--branco);
}


.card h4 {
    font-size: 1.6em;
    margin-bottom: 10px;
    font-family: var(--font-title);
}
.card p {
    font-size: 1.1em;
    color: var(--branco);
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}

#Serviços a ion-icon {
    font-size: 2rem;
}

#Serviços a:hover {
    color:var(--roxo);
}