header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 10px 40px;
    animation: fadeIn 1.5s ease-in-out;
}

#menu-logo p {
    font-size: 2em;
    font-weight: 700;
}

#menu-navegacao ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    gap: 20px;
}

#menu-navegacao ul li{
    list-style: none;
    text-decoration: none;
}

#menu-navegacao ul li a {
    text-decoration: none;
    color: var(--preto);
    font-size: 1.5rem;
    font-weight: 600;
    gap: 20px;
}

#whatsapp ion-icon {
    font-size: 2.5rem;
    color: var(--preto);

}

#menu-navegacao a:hover, #whatsapp ion-icon:hover {
    color: var(--roxo);
}

#menu-hamburguer {
    display: none; /* Esconde o ícone no desktop */
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--branco);
    color: var(--preto);
    border: none;
}