#Portfolio {
    width: 100%;
    height: 100vh;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.Portfolio-titulo {
    color: var(--preto);
    font-family: var(--font-family);
    font-size: clamp(28px, 5vw, 40px);
    font-weight: 700;
    margin-bottom: 30px;
}

.Portfolio-titulo span {
    color: var(--roxo);
}

.Portfolio-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px; 
    width: auto;
    margin-bottom: 30px;
}


.Portfolio-cards .card img {
    width: 350px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 8px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Portfolio-cards .card img:hover {
    transform: scale(1.05);
}

.Portfolio-cards .card .titulo {
    font-size: clamp(24px, 5vw, 32px);
    font-family: var(--font-family);
}

.icons {
    display: flex; /* Alinha os ícones horizontalmente */
    justify-content: center; /* Centraliza os ícones */
    gap: 8px; /* Espaçamento entre os ícones */
    margin-top: 8px; /* Espaço entre o título e os ícones */
    font-size: 24px; /* Ajusta o tamanho dos ícones */
    padding: 0 0 1.2em 0;
}

.card {
    background-color: var(--cinza-claro);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 90%;
    text-align: center;
}

.card:hover {
    background-color: var(--roxo);
    color: var(--branco);
    transform: translateY(-10px);

}

.card ion-icon {
    color: var(--preto); /* Cor do ícone HTML5 */
    transition: transform 0.2s ease;
}

.card ion-icon:hover {
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}

.card .botoes {
    display: flex;
    gap: 8px;
}

.Preview {
    border-radius: 10px;
    border: none;
    text-decoration: none;
    padding: 8px;
    background-color: var(--preto);
    color: var(--branco);
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.Codigo {
    border-radius: 10px;
    border: none;
    padding: 8px;
    text-decoration: none;
    background-color: var(--branco);
    color: var(--preto);
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.Preview , .Codigo  {
    text-decoration: none;
}

.Preview:hover{
    background-color: var(--cinza-escuro);
    cursor: pointer;
}

.Codigo:hover{
    background-color: var(--cinza-claro);
    cursor: pointer;
}

#Portfolio .link-contato {
    color: var(--preto);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#Portfolio a ion-icon {
    font-size: 2rem;
    color: var(--preto);
}

#Portfolio .link-contato:hover {
    color: var(--roxo);
}