#Sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: var(--branco);
    width: 100%;
    height: 100vh;
    padding: 5em;
    overflow: hidden;
    gap: 20px;
}

#Sobre img {
    border-radius: 10px;
    width: 20%;
    height: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#Sobre img:hover {
    transform: scale(1.05);
    box-sizing: 0 8px 15px rgba(0,0,0,0.3);
}

#Sobre-conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
}

#Sobre-conteudo h2 {
    color: var(--preto);
    font-size: clamp(28px, 5vw, 40px);
    font-family: var(--font-family);
    font-weight: 700;
}

#Sobre-habilidades  h2 {
    color: var(--preto);
    font-size: clamp(24px, 4vw, 32px);
}

#Sobre-titulo span {
    color: var(--roxo);
}

#Sobre-conteudo h4 {
    font-size: clamp(18px, 4vw, 24px);
    color: var(--preto);
    font-weight: 700;
}

#Sobre-conteudo p {
    color: var(--cinza-escuro);
    font-size: 1.2rem;
    font-weight: 500;

}

#Sobre-habilidades ion-icon {
    font-size: 3rem;
    color: var(--preto);
}

#Sobre-habilidades ion-icon:hover {
    color: var(--roxo);
}